@use 'mixins';

:host {
    position: relative;
    display: flex;
    align-items: center;
}

.burger {
    --ham-line: 3px;

    height: 18px;
    width: 40px;
    border: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;

    span,
    &:before,
    &:after {
        height: var(--ham-line);
        background-color: var(--accent-yellow);
        display: block;
        position: absolute;
        width: 100%;
        border-radius: 3px;
        opacity: 1;
    }
    &:before,
    &:after {
        content: '';
        transition:
            top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
            transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    }

    span {
        opacity: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &:before {
        top: 0;
    }

    &:after {
        top: calc(100% - var(--ham-line));
        box-shadow: none;
    }

    &.is-on {
        span,
        &:before,
        &:after {
            background-color: var(--accent-yellow);
        }
        span {
            opacity: 0;
        }
        &:before,
        &:after {
            top: 40%;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }

    @include mixins.focus-visible;
}
