@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src:
        local('Rubik-Regular'),
        url('./fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    font-style: normal;
    font-weight: 400;
    src:
        local('Work-Sans'),
        url('./fonts/Work-Sans.ttf') format('truetype');
}

@font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 900;
    src:
        local('Playfair-Display'),
        url('./fonts/Playfair-Display.ttf') format('truetype');
}
