:root {
    // Colors
    --white: #fff;
    --accent-yellow: #eed76f;

    // Transitions
    --normal-transition: 0.3s;

    // Dimensions
    --header-min-width: 400px;
    --header-min-height: 96px;

    // Z-indexes
    --z-header: 100;

    // Font-sizes
    --fs-xxl: 2.375rem;
    --fs-xl: 1.375rem;
}
